.consultation {
  background-color: $colorDarkElem;
  // .consultation__container

  &__container {
  }

  // .consultation__body

  &__body {
    display: flex;
    align-items: center;
    column-gap: 130px;
  }

  // .consultation__col-img

  &__col-img {
    max-width: 520px;
  }

  // .consultation__col-form

  &__col-form {
    max-width: 412px;
  }

  // .consultation__title

  &__title {
    color: $colorElem;

    margin-bottom: 24px;

    & span {
      color: #fff;
    }
  }

  // .consultation__form

  &__form {
  }
}

.button {
}
