.gallery {
  background-color: #fff;

  // .gallery__container

  &__container {
  }

  // .gallery__text

  &__text {
    display: flex;
    align-items: center;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 38px;

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 36px;
    }
    @media (max-width: $mobileBig) {
      margin-bottom: 24px;
    }
  }

  // .gallery__title

  &__title {
    margin-bottom: unset;
  }

  // .gallery__button

  &__button {
    @media (max-width: $mobileBig) {
      margin-top: 24px;
      width: 100%;
      text-align: center;
    }
  }

  // .gallery__body

  &__body {
  }

  // .gallery__list

  &__list {
  }

  // .gallery__item

  &__item {
  }

  // .gallery__navigation

  &__navigation {
  }

  // .gallery__button-prev

  &__button-prev {
  }

  // .gallery__button-next

  &__button-next {
  }
}
