.how-contact {
  background-color: $colorDarkElem;

  // .how-contact__container

  &__container {
  }

  // .how-contact__body

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 130px;

    @media (max-width: $notebook) {
      column-gap: 60px;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: 52px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: 44px;
    }
  }

  // .how-contact__col-text

  &__col-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    row-gap: 24px;
    width: 40%;
    max-width: 340px;

    color: #fff;

    @media (max-width: $tablet) {
      align-items: flex-start;
      text-align-last: left;
      width: 80%;
      max-width: unset;
    }
    @media (max-width: $mobileBig) {
      width: 100%;
    }
  }

  // .how-contact__title

  &__title {
    margin-bottom: unset;

    @media (max-width: $mobile) {
      margin-bottom: -12px;
    }
  }

  // .how-contact__desc

  &__desc {
    margin-bottom: 12px;
    text-align: left;

    @media (max-width: $mobile) {
      margin-bottom: unset;
    }
  }

  // .how-contact__block-phone

  &__block-phone {
    display: flex;
    column-gap: 28px;
    row-gap: 24px;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: $tablet) {
      flex-direction: unset;
      align-items: center;
      justify-content: space-between;
      width: 80%;
    }
    @media (max-width: $mobile) {
      width: 100%;
      column-gap: 12px;
    }
  }
  // .how-contact__phone

  &__phone {
    display: flex;
    flex-direction: column;
  }

  // .how-contact__phone-link

  &__phone-link {
    font-size: 22px;
    font-weight: 700;
    color: $colorElem;
    white-space: nowrap;

    @media (max-width: $mobileBig) {
      font-size: 16px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 14px;
    }
  }

  // .how-contact__phone-desc

  &__phone-desc {
    color: rgba(219, 219, 244, 0.5);

    @media (max-width: $mobileBig) {
      font-size: 12px;
    }
  }

  // .how-contact__col-form

  &__col-form {
    width: 58%;
    max-width: 420px;

    @media (max-width: $tablet) {
      width: 80%;
      max-width: unset;
    }

    @media (max-width: $mobileBig) {
      width: 100%;
    }
  }
}
.consultation {
  // .consultation__form

  &__form {
  }
}
.form {
  // .form__title

  // .form__desc

  &__desc {
  }

  // .form__input

  &__input {
  }

  // .form__input-name

  &__input-name {
  }

  // .form__input-tel

  &__input-tel {
  }

  // .form__button

  &__button {
  }

  // .form__checkbox-group

  &__checkbox-group {
  }

  // .form__checkbox

  &__checkbox {
  }

  // .form__checkbox-label

  &__checkbox-label {
  }
}
.button {
}
