.licenses {
  // .licenses__container

  &__container {
    display: flex;
    column-gap: 24px;
    row-gap: 36px;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .licenses__block-text

  &__block-text {
    max-width: 310px;

    @media (max-width: $tablet) {
      max-width: unset;
    }
  }
  // .licenses__title

  &__title {
    @media (max-width: $tablet) {
      margin-bottom: 24px;
    }
    @media (max-width: $tablet) {
      margin-bottom: 12px;
    }
  }

  // .licenses__body

  &__body {
  }

  // .licenses__body-wrapper

  &__body-wrapper {
  }

  // .licenses__img

  &__img {
    max-height: 446px;

    & img {
      @media (max-width: $notebook) {
        object-fit: contain;
      }
    }
  }

  // .licenses__navigation

  &__navigation {
  }

  // .licenses__button-prev

  &__button-prev {
  }

  // .licenses__button-next

  &__button-next {
  }
}
.title {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-navigation {
}
.swiper-button {
}
.swiper-button-prev {
}
.swiper-button-next {
}
