.main {
  background: url(@img/main.jpg) center 0 no-repeat;
  background-size: cover;
  padding: 70px 0 130px 0;
  // .main__container

  &__container {
  }

  // .main__body

  &__body {
    color: #fff;

    padding-right: 50%;

    @media (max-width: $notebook) {
      padding-right: 30%;
    }
    @media (max-width: $tablet) {
      padding-right: 22%;
    }
    @media (max-width: $mobile) {
      padding-right: unset;
    }
  }

  // .main__title

  &__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 28px;
    @media (max-width: $mobileBig) {
      font-size: 36px;
    }
  }

  // .main__text

  &__text {
    font-size: 22px;
    margin-bottom: 60px;

    @media (max-width: $mobileBig) {
      font-size: 16px;
    }
  }

  // .main__block-buttons

  &__block-buttons {
    display: flex;
    align-items: center;
    column-gap: 14px;
    row-gap: 14px;

    @media (max-width: $mobileBig) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .main__button

  &__button {
    @media (max-width: $mobileBig) {
      width: 100%;
    }
  }

  // .main__button-video

  &__button-video {
    font-weight: 400;
    color: $mainColor;

    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #fff;

    @media (max-width: $mobileBig) {
      width: 100%;
      justify-content: center;
    }
  }

  // .main__button-icon

  &__button-icon {
    width: 20px;
    height: 20px;
    background: $colorElem url("@img/play.svg") center center no-repeat;
    background-size: 12px 12px;
    border-radius: 50%;
  }
}
.button {
}
