.prices {
  // .prices__container

  &__container {
  }

  // .prices__title

  &__title {
    margin-bottom: 36px;
  }

  // .prices__body

  &__body {
    max-width: 850px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }

  // .prices__tabs-list

  &__tabs-list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;

    @media (max-width: $mobile) {
      width: 100%;
      column-gap: 8px;
      row-gap: 8px;
    }
  }

  // .prices__tabs-item

  &__tabs-item {
    &._tab-active {
      & .prices__tabs-button {
        background-color: $colorElem;
        color: #fff;
      }
    }
  }

  // .prices__tabs-button

  &__tabs-button {
    color: $mainColor;
    font-weight: 400;
    background-color: #fff;

    @media (max-width: $tablet) {
      font-size: 14px;
    }
    @media (max-width: $mobileBig) {
      font-size: 12px;
    }
  }

  // .prices__content

  &__content {
  }

  // .prices__content-item

  &__content-item {
  }

  // .prices__content-top

  &__content-top {
    background-color: $colorElem;
    padding: 28px 26px;
  }

  // .prices__content-title

  &__content-title {
    display: flex;
    align-items: center;
    column-gap: 24px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;

    @media (max-width: $tablet) {
      font-size: 30px;
    }
    @media (max-width: $mobile) {
      font-size: 28px;
    }
    @media (max-width: $mobileBig) {
      font-size: 22px;
    }

    &::before {
      content: "";
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: var(--radius);
      flex: 0 0 auto;
    }
  }

  // .prices__content-bottom

  &__content-bottom {
    font-weight: 700;
    padding: 20px 24px 24px 24px;

    @media (max-width: $mobileBig) {
      padding: 24px 16px;
    }
  }

  // .prices__content-row

  &__content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    padding: 12px 0;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    }
  }

  // .prices__content-heading

  &__content-heading {
    @media (max-width: $mobileBig) {
      font-size: 14px;
    }
  }

  // .prices__content-price

  &__content-price {
    font-size: 22px;
    color: $colorElem;
    white-space: nowrap;

    @media (max-width: $mobileBig) {
      font-size: 18px;
    }
  }
}
.button {
}
