.reviews {
  background-color: #fff;
  // .reviews__container

  &__container {
  }

  // .reviews__title

  &__title {
    margin-bottom: 24px;
  }

  // .reviews__desc

  &__desc {
    padding-right: 36%;
    margin-bottom: 48px;

    @media (max-width: $tablet) {
      padding-right: 0;
    }

    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  // .reviews__body

  &__body {
    margin-bottom: 60px;

    @media (max-width: $mobileBig) {
      margin-bottom: 24px;
    }
  }
  // .reviews__button

  &__button {
    display: block;
    width: fit-content;
    margin: 0 auto;

    @media (max-width: $mobileBig) {
      width: 100%;
    }
  }
}
.title {
}
.reviews-tabs {
  // .reviews-tabs__buttons

  &__buttons {
    display: flex;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 36px;

    @media (max-width: $tablet) {
      column-gap: 12px;
      row-gap: 12px;
    }
    @media (max-width: $mobile) {
      flex-wrap: wrap;
      margin-bottom: 24px;
      column-gap: 8px;
      row-gap: 8px;
    }
  }

  // .reviews-tabs__item

  &__item {
    &._tab-active {
      & .reviews-tabs__button {
        background-color: $colorElem;
        color: #fff;
      }
    }
  }

  // .reviews-tabs__button

  &__button {
    font-weight: unset;
    color: $mainColor;

    background-color: $colorSection;
    padding: 10px 44px;

    @media (max-width: $tablet) {
      font-size: 14px;
      padding: 10px 24px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 12px;
      padding: 10px 14px;
    }
  }

  // .reviews-tabs__content

  &__content {
  }

  // .reviews-tabs__body

  &__body {
  }

  // .reviews-tabs__body-wrapper

  &__body-wrapper {
  }
}
.button {
}

.reviews-wh {
  // .reviews-wh__body

  &__body {
  }

  // .reviews-wh__slide

  &__slide {
    height: 450px;

    @media (max-width: $mobileBig) {
      height: 350px;
      padding: 0 52px;
    }
    @media (max-width: $mobileSmall) {
      height: 250px;
      padding: 0 52px;
    }
  }

  // .reviews-wh__img

  &__img {
  
  }

  // .reviews-wh__navigation

  &__navigation {
  }

  // .reviews-wh__button-prev

  &__button-prev {
    @media (max-width: $mobileBig) {
      left: 0;
      background-color: $colorElem;
    }
    & svg {
      @media (max-width: $mobileBig) {
        fill: #fff;
      }
    }
  }

  // .reviews-wh__button-next

  &__button-next {
    @media (max-width: $mobileBig) {
      right: 0;
      background-color: $colorElem;
    }
    & svg {
      @media (max-width: $mobileBig) {
        fill: #fff;
      }
    }
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-navigation {
}
.swiper-button {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.reviews-audio {
  // .reviews-audio__body

  &__body {
  }

  // .reviews-audio__slide

  &__slide {
  }

  // .reviews-audio__info

  &__info {
  }

  // .reviews-audio__avatar

  &__avatar {
  }

  // .reviews-audio__person

  &__person {
  }

  // .reviews-audio__name

  &__name {
  }

  // .reviews-audio__date

  &__date {
  }

  // .reviews-audio__audio

  &__audio {
    // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    height: 44px;

    margin-bottom: 24px;
    & audio {
      width: 100%;
      border-radius: 20px;
    }
  }

  // .reviews-audio__desc

  &__desc {
  }

  // .reviews-audio__navigation

  &__navigation {
  }

  // .reviews-audio__button-prev

  &__button-prev {
    top: unset;
    bottom: 0;
  }

  // .reviews-audio__button-next

  &__button-next {
    top: unset;
    bottom: 0;
  }
}
.reviews-slide {
  background-color: #dbdbf4;
  padding: 24px 24px 90px 24px;
}
.reviews-info {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 36px;
}
.reviews-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}
.reviews-person {
}
.reviews-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
.reviews-date {
}
.reviews-desc {
  font-size: 12px;
}
.reviews-video {
  // .reviews-video__body

  &__body {
    display: flex;
    column-gap: 24px;
    row-gap: 24px;

    @media (max-width: $tablet) {
      flex-wrap: wrap;
    }
  }

  // .reviews-video__slide

  &__slide {
    @media (max-width: $tablet) {
      width: calc(50% - 24px);
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  // .reviews-video__video

  &__video {
    height: 240px;
    margin-bottom: 24px;

    @media (max-width: $mobile) {
      margin-bottom: 12px;
    }
  }

  // .reviews-video__desc

  &__desc {
    font-size: 22px;
    font-weight: 700;

    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  // .reviews-video__navigation

  &__navigation {
  }

  // .reviews-video__button-prev

  &__button-prev {
    top: 120px;
  }

  // .reviews-video__button-next

  &__button-next {
    top: 120px;
  }
}
.reviews-text {
  // .reviews-text__body

  &__body {
  }

  // .reviews-text__slide

  &__slide {
  }

  // .reviews-text__info

  &__info {
  }

  // .reviews-text__avatar

  &__avatar {
  }

  // .reviews-text__person

  &__person {
  }

  // .reviews-text__name

  &__name {
  }

  // .reviews-text__date

  &__date {
  }

  // .reviews-text__desc

  &__desc {
  }

  // .reviews-text__navigation

  &__navigation {
  }

  // .reviews-text__button-prev

  &__button-prev {
    top: unset;
    bottom: 0;
  }

  // .reviews-text__button-next

  &__button-next {
    top: unset;
    bottom: 0;
  }
}
