.spollers-addiction {
  // .spollers-addiction__container

  &__container {
  }

  // .spollers-addiction__block

  &__block {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
    @media (max-width: $mobileBig) {
      margin-bottom: 36px;
    }
  }
  // .spollers-addiction__text

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  // .spollers-addiction__title

  &__title {
    margin-bottom: 24px;
  }

  // .spollers-addiction__desc

  &__desc {
  }

  // .spollers-addiction__button

  &__button {
    padding: 10px 90px;
  }

  // .spollers-addiction__img

  &__img {
    flex: 0 0 386px;
    max-height: 300px;

    @media (max-width: $mobileBig) {
      max-height: 250px;
      width: 100%;
    }
  }

  // .spollers-addiction__body

  &__body {
  }
}