.stages {
  background-color: #fff;
  // .stages__container

  &__container {
  }

  // .stages__title

  &__title {
  }

  // .stages__body

  &__body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    @media (max-width: $pc) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobileBig) {
      grid-template-columns: repeat(1, 1fr);
      gap: 12px;
    }
  }

  // .stages__item

  &__item {
  }
}
.stages-item {
  background-color: $colorSection;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // .stages-item__top

  &__top {
    background-color: $colorElem;
    padding: 16px;

    @media (max-width: $tablet) {
      padding: 14px;
    }
  }

  // .stages-item__title

  &__title {
    font-size: 22px;
    font-weight: 700;
    color: #fff;

    display: flex;
    align-items: center;
    column-gap: 16px;

    & span {
      font-size: 60px;
      font-weight: 400;
    }
  }

  // .stages-item__bottom

  &__bottom {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 24px;
    height: 100%;
    padding: 30px 24px;

    @media (max-width: $mobile) {
      padding: 24px;
    }
  }

  // .stages-item__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  // .stages-item__item

  &__item {
  }

  // .stages-item__button

  &__button {
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}
.button {
}
