//====================================================================================================
.footer {
  background-color: $colorDarkElem;
  color: #fff;
  padding: 48px 0;
  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
    display: flex;
    column-gap: 130px;
    row-gap: 20px;

    @media (max-width: $pc) {
      column-gap: 60px;
    }
    @media (max-width: $notebook) {
      flex-direction: column;
    }
    @media (max-width: $mobileBig) {
      row-gap: 48px;
    }
  }

  // .footer__col-left

  &__col-left {
    display: flex;
    flex-direction: column;
    row-gap: 52px;

    @media (max-width: $pc) {
      row-gap: 24px;
    }
  }

  // .footer__col-right

  &__col-right {
  }
}
.footer-left {
  // .footer-left__top

  &__top {
  }

  // .footer-left__bottom

  &__bottom {
  }
}
.top-menu {
  display: flex;
  column-gap: 34px;
  row-gap: 24px;

  @media (max-width: $notebook) {
    justify-content: space-between;
  }
  @media (max-width: $mobileBig) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  // .top-menu__block

  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (max-width: $mobile) {
      row-gap: 12px;
    }
  }

  // .top-menu__title

  &__title {
    font-size: 18px;
    font-weight: 700;

    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }

  // .top-menu__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }

  // .top-menu__item

  &__item {
  }

  // .top-menu__link

  &__link {
  }
}
.bottom-menu {
  padding-top: 24px;
  border-top: 1px solid #dbdbf4;

  // .bottom-menu__list

  &__list {
    font-size: 18px;
    font-weight: 700;

    display: flex;
    column-gap: 28px;
    row-gap: 12px;
    margin-bottom: 20px;

    @media (max-width: $notebook) {
      justify-content: space-between;
    }
    @media (max-width: $mobile) {
      font-size: 16px;
      column-gap: 14px;
    }
    @media (max-width: $mobileBig) {
      flex-direction: column;
    }
  }

  // .bottom-menu__item

  &__item {
    text-align: center;
    white-space: nowrap;
  }

  // .bottom-menu__link

  &__link {
  }

  // .bottom-menu__licency

  &__licency {
    font-size: 12px;

    @media (max-width: $mobileBig) {
      text-align: center;
    }
  }
}
.footer-right {
  display: flex;
  flex-direction: column;
  column-gap: 36px;
  row-gap: 24px;

  @media (max-width: $notebook) {
    flex-direction: unset;
    flex-wrap: wrap;
  }

  @media (max-width: $mobileBig) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  // .footer-right__top

  &__top {
  }

  // .footer-right__top-socials

  &__top-socials {
    & .socials__link {
      background-color: #fff;
      padding: 8px;
    }
    & svg {
      fill: $colorDarkElem;
    }
  }

  // .footer-right__middle

  &__middle {
  }

  // .footer-right__bottom

  &__bottom {
  }

  // .footer-right__form

  &__form {
    background-color: #fff;
    padding: 24px 30px 30px 30px;
    color: $mainColor;
    max-width: 470px;

    @media (max-width: $notebook) {
      max-width: unset;
      text-align: center;
    }
    @media (max-width: $mobile) {
      text-align: unset;
    }
    @media (max-width: $mobileBig) {
      background-color: unset;
      padding: unset;
    }

    & .form__title {
      @media (max-width: $notebook) {
        margin: 0 auto;
      }
      @media (max-width: $mobile) {
        margin: unset;
      }

      @media (max-width: $mobileBig) {
        color: #fff;
      }
    }
    & .form__desc {
      @media (max-width: $mobileBig) {
        color: #fff;
        text-align: left;
      }
    }
    & .form__input {
      background-color: #dbdbf4;

      @media (max-width: $notebook) {
        width: calc(50% - 24px);
      }
    }
    & .form__checkbox-label {
      @media (max-width: $mobile) {
        color: #9a89c9;
      }
      @media (max-width: $mobileBig) {
        color: #fff;
      }
    }
  }
}
.footer-phone {
  display: flex;
  column-gap: 34px;

  @media (max-width: $mobileBig) {
    flex-direction: column;
  }
  // .footer-phone__block

  &__block {
    display: flex;
    flex-direction: column;
  }

  // .footer-phone__link

  &__link {
    font-size: 22px;
    font-weight: 700;

    @media (max-width: $mobileBig) {
      color: $colorElem;
    }
  }

  // .footer-phone__desc

  &__desc {
    font-size: 12px;
    opacity: 0.5;
  }
}
.form {
  // .form__title

  &__title {
  }

  // .form__desc

  &__desc {
  }

  // .form__input

  &__input {
  }

  // .form__input-name

  &__input-name {
  }

  // .form__input-tel

  &__input-tel {
  }

  // .form__button

  &__button {
  }

  // .form__checkbox-group

  &__checkbox-group {
  }

  // .form__checkbox

  &__checkbox {
  }

  // .form__checkbox-label

  &__checkbox-label {
  }
}
.button {
}

//====================================================================================================
